fastapi
uvicorn
pdfplumber
google-genai
python-multipart
PyMuPDF
pillow
google-generativeai
llama-index
networkx
scikit-learn
docx2python
docx2txt
pinecone
llama-index-embeddings-google
llama-index-vector-stores-postgres
llama-index-llms-gemini 
llama-index-embeddings-gemini 
llama-index-vector-stores-pinecone