fastapi
uvicorn
pdfplumber
google-genai
python-multipart
PyMuPDF
pillow
google-generativeai
llama-index
networkx
scikit-learn
docx2python
docx2txt
pinecone 
llama-index-embeddings-gemini==0.3.2
llama-index-embeddings-google==0.3.1
llama-index-embeddings-google-genai==0.1.0
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.9
llama-index-llms-gemini==0.4.14
llama-index-llms-google-genai==0.1.7
llama-index-llms-openai==0.3.28
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.7
llama-index-readers-llama-parse==0.4.0
llama-index-readers-smart-pdf-loader==0.3.0
llama-index-vector-stores-chroma==0.4.1
llama-index-vector-stores-pinecone==0.4.5
llama-index-vector-stores-postgres==0.4.2
llama-index-readers-web
motor
catboxpy
httpx