catboxpy==0.1.0
click==8.1.7
cryptography==44.0.2
fastapi==0.115.12
fitz==0.0.1.dev2
greenlet==3.1.1
llama_index==0.12.31
motor==3.7.0
networkx==3.2.1
pdfplumber==0.11.5
Pillow==11.2.1
pinecone==6.0.2
protobuf==6.30.2
pydantic==2.11.3
pymongo==4.12.0
scikit_learn==1.6.1
setuptools==65.5.0
simplejson==3.20.1
thread==2.0.5
watchdog==4.0.0
